slnVisaNet/prjMetropolitano/Connected Services/ServiceVisanet/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52549/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/visanetSOAP.Dominio" />
  <xs:element name="ValidarPagoVisaNet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/visanetSOAP.Dominio" minOccurs="0" name="tarjeta" nillable="true" type="q1:TC_Visa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPagoVisaNetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarPagoVisaNetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>