slnVisaNet/prjMetropolitano/Connected Services/ServiceVisanet/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/visanetSOAP.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/visanetSOAP.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TC_Visa">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVV_TARJETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_TARJETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONTO_CARGA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_TARJETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIT_TARJETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VENC_TARJETA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TC_Visa" nillable="true" type="tns:TC_Visa" />
</xs:schema>